<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Исходные данные</title>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="icon" th:href="favicon.ico"/>
        <script type="text/javascript" th:src="@{/js/script.js}"></script>
    </head>
    <body>
    <div id="header">
        <div class="content">
            <h2 style="text-align: center;">Добавление замены счета</h2>
            <form th:action="@{/input-data}" method="post">
                <div>
                    <ul id="list"></ul>
                    <input type="button" value="Добавить замену счета" onclick="pushRules()">
                </div>
            </form>
        <input class="input center-block" style="text-align: center;" id="submit" th:type="submit" th:value="Продолжить"/>
    </body>
</html>